
/*tablw section-white box*/
.tbarea{
    border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
    margin-top: 20px;
}

/*table structure*/
.tbtable{
    
    background-color:  #e6f3ff;
    border-collapse: collapse; 
    margin-top: 5px;
    border-radius: 20px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    
}
th{
    width: 140px;
    padding-top: 15px;
    text-align: center;
}

td{
    width: 147px;
    padding-top: 15px;
    text-align: center;
}
th.update-desc{
    width: 240px;
    padding-top: 15px;
    text-align: center;
}
th#id-tb{
    width: 40px;
    text-align: left;
}

tr #up:hover{
    background:   #bcffb3;
}
tr #del:hover{
    background:   #ffb4b3;
}

.align_right{
    text-align: right;
    padding-right: 20px;
}

/*Bold*/
.bold{
    font-weight: bold;
}


